html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 100px; /* bottom = footer height */
    font-family: 'Roboto Condensed', sans-serif; /*font-family: "Roboto", Verdana, sans-serif;*/
}

.container{
	width: 95%;
}
.navigation{
	text-align: center;
}
.link-submit{
	margin: 10px;
}
.link-submit input{
	margin-bottom: 10px;
}
.link-submit textarea{
	margin-bottom: 10px;
}
i{
	color: #9DA1AA;
}
.description{
	color:#666;
}
.time{
	color:#999;
	font-size: 11px;
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
    background:#F5F5F5; 
    padding:30px 0 0 0;
    text-align: center;
}

footer .container{
	padding: 0 30% 0 30%;
}


