{% extends "base.html" %}
{% block navmenu %}
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home <span class="sr-only">(current)</span></a></li>
            <li><a href="/ranks">Ranks</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li><a href="#">Separated link</a></li>
                <li class="divider"></li>
                <li><a href="#">One more separated link</a></li>
              </ul>
            </li>
          </ul>
{% endblock %}

{% block content %}
    <section>
      <div class="container">
        <div class="row">
            <div class="col-md-8">
              {% for link in links %}
                <div class="panel panel-default">
                  <div class="panel-body">
                      <div class="link">
                        <i class="fa fa-link" title="Url"></i> <a href="{{ link.url }}">{{ link.heading }}</a>
                      </div>
                      <div class="description">
                        <i class="fa fa-book" title="Description"></i> {{ link.description }}
                      </div>
                  </div>
                  <div class="panel-footer">
                    <div class="time">
                      <div class="row">
                        <div class="col-md-2">
                          <i class="fa fa-clock-o" title="{{ link.date }}"></i> {{ link.date.strftime('%d-%m-%y') }}
                        </div>
                        <div class="col-md-1">
                          <i class="fa fa-thumbs-o-up" title="Upvotes"></i> {{ link.upvotes}}
                        </div>
                        <div class="col-md-2">
                          <i class="fa fa-thumbs-o-down" title="Downvotes"></i> {{ link.downvotes }}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
            <div class="col-md-4">
            </div>
        </div>
      </div>
  </section>
{% endblock %}